.wrap {
	margin: auto;
	margin-top: 55px;
	width: 500px;
	font-family: Arial, sans-serif;
	font-size: 20px;
	border-radius: 5px;
}

.title {
	font-family: Impact, sans-serif;
	color: #333;
}

.link {
	color: #333;
	text-decoration: none;
}

.about {
	display: flex;
	justify-content: space-between;
}

.avatar {
	height: 170px;
}